<h1><%= @recipe.title %></h1>
<td><img src=<%= @recipe.image %> alt="rss feed" /></td>
<% @recipe.tags.each do |tag| %>
  <td><%= tag %></td>
<% end %>
<hr>
<td><%= @recipe.description %></td>
<hr>
<td><%= @recipe.chef_name %></td>
<td><a href= "/recipes">Back</a></td>

 
<br />
